{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}
<article class="{{post_class}} id-{{id}}">
    <header class="post-header{{^if image}} no-cover{{/if}}">
        <h1 class="post-title"{{#if image}} style="background-image:url('{{image}}')"{{/if}}>
            <span class="title">{{title}}</span>
        </h1>
    </header>

    <section class="post-wrapper">
        <div class="post-content clearfix">
            {{content}}
        </div>
    </section>

</article>
{{/post}}
